<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body style="justify-items: center; margin-top: 200px">
    <h1>User Login</h1>
    <form action="/user/login" method="post">

      <label for="input">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="email" placeholder="your email" required name = "email" /> <br />
      <br />
      <label for="input">Password&nbsp;</label>
      <input type="password" placeholder="your password" required name = "password" /> <br /><br />
      
      <button type="submit">Login</button>
    </form>
  </body>
</html>
